<div class="identityVerification">
    <%= summaryPageIntroMsg %>
    <h4>Individual Applicant(s)</h4>
    <%
        var applicant;
        for(var i = 0; i < displayApplicants.length; ++i) {
            applicant = displayApplicants[i];
    %>
    <div class="contentElement persona" id="persona<%= applicant.persona %>">
        <span class="name"><%= applicant.nameText %></span>
        <span class="next">
            <input
                type="button"
                name="persona<%= applicant.persona %>"
                data-persona="<%= applicant.persona %>"
                value="Verify" />
        </span>
    </div>
    <%
        }
    %>
</div>
