
<div class="multipleChoice">
    <label class="question" for="<%= name %>">
        <span class="text"><%= question %></span>
    </label>

    <div class="input <%= output %>">
        <select name="<%= name %>">
        <%
            for(var i = 0; i < options.length; ++i) {
                var option      = options[i];
                var selected    = (option.checked) ? ' selected="selected"' : '';
        %>
            <option value="<%= option.value %>"<%= selected %>>
            <%
                if(option.optionIcon) {
            %>
                <img src="<%= option.iconUrl %>" />
            <%
                }
            %>
                <span class="text"><%= option.value %></span>
            </option>
        <%
            }
        %>
        </select>
    </div>
</div>