
<div class="multipleChoice">
    <label class="question" for="<%= name %>">
        <span class="text"><%= question %></span>
    </label>

    <div class="input <%= output %>">
        <div class="options">
        <%
            for(var i = 0; i < options.length; ++i) {
                var option  = options[i];
                var checked = (option.checked) ? ' checked="checked"' : '';
        %>
            <label class="option">
                <input type="<%= inputType %>" name="<%= name %>" value="<%= option.value %>"<%= checked %> />
            <%
                if(option.iconUrl) {
            %>
                <img src="<%= option.iconUrl %>" />
            <%
                }
            %>
                <span class="text"><%= option.value %></span>
            </label>
        <%
            }
        %>
        </div>
    </div>
</div>