/*
 * Page Style
 */

* {
    padding:0;
    margin:0;
    font-size: 100%;
}

body {
    padding-bottom: 40px;
}

label,
input,
button,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.8em;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5,h6 {
    font-size: 1.1em;
}

h1,h3,h4,h5,h6 {
    font-weight: normal;
}

p {
    margin: 0 0 10px;
}

ul.bulletPointList {
    list-style:none;
    padding:5px 0;
}

ul.bulletPointList li span.bulletPoint {
    padding:5px;
}

.container {
    border: 1px solid #ccc;
    margin:0 2%;
}

#headerContainer {
    padding-top: 180px;
    background-repeat: no-repeat;
    background-position: top right;
}

#headerContainer h1 {
    background-repeat: no-repeat;
    background-position: top right;
}

#navigation {
    background-color:rgba(255,255,255, 0.8);
}

#navigation h1 {
    margin:15px 1%;
    padding-top:20px;
    height:44px;
    width:90%;
}

#navigation .contact {
    float:right;
    margin:-75px 20px 0 0;
}

#navigation .contact a {
    display:block;
    width:47px;
    height:47px;
}

#navigation .contact a .text {
    display:none;
    visibility:hidden;
}

.visible-phone {
    display:none;
    visibility:hidden;
}

/*
 * Form
 */

#formContainer {
    padding: 20px;
    margin-top:20px;
}

/*
 * Section
 */

.section h3 {
    width: 90%;
    height: 34px;
    margin: 20px 2%;
    padding: 16px 1% 8px 5%;
    clear: both;
}

.section.first h3 {
    display:none;
    visibility:hidden;
}

.section h3:before {
    content:"";
    width:30px;
    height:30px;
    position:absolute;
    margin:-2px -3%;
    background-position: -217px -54px;
}

.section:after {
    content: "";
    display:block;
    clear:both;
}

.collapsible h3 {
    cursor:pointer;
}

.collapse h3:before {
    background-position: -186px -54px;    
}

.collapse .sectionBody {
    display:none;
    visibility:hidden;
}

/*
 * Content Main
 */

.contentElement {
    width:92%;
    margin:20px 4%;
    clear:both;
}

.contentElement label.question {
    display:block;    
    float:left;
    clear:both;
    width:39%;
    padding-right:1%;
    cursor:pointer;
}

.required label.question span.text:before {
    content: "";
    width:17px;
    height:17px;
    float:right;
    background-repeat: no-repeat;
    background-position: -340px -147px;
}

.contentElement .input {
    margin-left:40%;
    width:60%;
}

.contentElement .input .errors {
    position:absolute;
    display:inline-block;
    border: #ff4200 1px solid;
    padding:10px;
    margin-left:10px;
    color: #ff4200;
    background-color: #ffece6;
}

.contentElement .input .errors:before {
    border-color: transparent #ff4200;
    border-style: solid;
    border-width: 5px 8px 6px 0;
    left: -8px;
    top: 12px;
    position: absolute;
    width: 0;
    content: "";
}

.contentElement .input .errors:after {
    border-color: transparent #ffece6;
    border-style: solid;
    border-width: 4px 7px 5px 0;
    content: "";
    left: -6px;
    position: absolute;
    top: 13px;
    width: 0;
}

/*
 * Single Line Input Boxes
 */

 .confirm {
    margin-top:10px;
 }

.contentElement .singleLineInputBox .input input {
    height: 31px;
    padding:2px;
    line-height: 25px;
    border: #33a9b3 1px solid;
    color: #666666;
    width:321px;
}

.valid .singleLineInputBox .input input {
    border:#a9c93a 1px solid;
    color:#a9c93a;
}

.invalid .singleLineInputBox .input input {
    border:#ff4200 1px solid;
    color:#ff4200;
}

.contentElement .singleLineInputBox .input span.element:before,
.contentElement .singleLineInputBox .input span.element:after {
    content: "";
    width:17px;
    height:17px;
    position:absolute;
    background-repeat: no-repeat;
    background-position: -153px -130px; /* BLANK */
}

.contentElement .singleLineInputBox .input span.element:before {
    margin: 10px 2px;                
}

.contentElement .singleLineInputBox .input span.element:after {
    margin: 10px -21px;
}

.valid .singleLineInputBox .input span.element:after {
    background-position: -306px -147px;
}

.invalid .singleLineInputBox .input span.element:after {
    background-position: -323px -147px;
}

/* Email Format Icons */

.contentElement .singleLineInputBox .format6 span.element input {
    padding-left:21px;
    width:300px;
}

.contentElement .singleLineInputBox .format6 span.element:before {
    background-position:0px -147px;
}

.valid .singleLineInputBox .format6 span.element:before {
    background-position: -17px -147px;
}

.invalid .singleLineInputBox .format6 span.element:before {
    background-position: -34px -147px;
}

/* Date Format Icons */

.contentElement .singleLineInputBox .format7 span.element input {
    padding-left:21px;
    width:300px;
}

.contentElement .singleLineInputBox .format7 span.element:before {
    background-position:-51px -147px;
}

.valid .singleLineInputBox .format7 span.element:before {
    background-position: -68px -147px;
}

.invalid .singleLineInputBox .format7 span.element:before {
    background-position: -85px -147px;
}

/* Password Format Icons */

.contentElement .singleLineInputBox .format8 span.element input {
    padding-left:21px;
    width:300px;
}

.contentElement .singleLineInputBox .format8 span.element:before {
    background-position:-204px -147px;
}

.valid .singleLineInputBox .format8 span.element:before {
    background-position: -221px -147px;
}

.invalid .singleLineInputBox .format8 span.element:before {
    background-position: -238px -147px;
}

/* Landline Phone Format Icons */

.contentElement .singleLineInputBox .format9 span.element input {
    padding-left:21px;
    width:300px;
}

.contentElement .singleLineInputBox .format9 span.element:before {
    background-position:-255px -147px;
}

.valid .singleLineInputBox .format9 span.element:before {
    background-position: -272px -147px;
}

.invalid .singleLineInputBox .format9 span.element:before {
    background-position: -289px -147px;
}

/* Mobile Phone Format Icons */

.contentElement .singleLineInputBox .format10 span.element input {
    padding-left:21px;
    width:300px;
}

.contentElement .singleLineInputBox .format10 span.element:before {
    background-position:-102px -147px;
}

.valid .singleLineInputBox .format10 span.element:before {
    background-position: -119px -147px;
}

.invalid .singleLineInputBox .format10 span.element:before {
    background-position: -136px -147px;
}

/*
 * Multiple Choice
 */

.contentElement .multipleChoice .input label {
    cursor:pointer;
}

.contentElement .multipleChoice .horizontal label.option {                
    width:80px;
    margin:10px;
    display:inline-table;
}

.contentElement .multipleChoice .vertical label.option {
    display:block;
    width:100%;
    float:left;
}

.input label.option input {
    display:none;
    visibility: hidden;
}

.input label.option input+img {
    display:block;
    width:75px;
    height:75px;
    text-align: center;
    border: 3px solid #ccc;
    margin: 0 auto;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.input label.option {
    color: #666666;
}

label.option img+span.text {
    display:block;
    clear:both;
    text-align:center;
}

label.option input+span.text {
    display: block;
    text-indent: 10px;
    width:180px;
}

label.option input+span.text:before {
    content: "";
    float:left;
    background-repeat:no-repeat;
}

label.option input[type="radio"]+span.text:before {
    width:21px;
    height:21px;
    background-position:-21px -122px;
}

label.option input[type="radio"]:checked+span.text:before {
    background-position: 0 -122px;
}

label.option input[type="checkbox"]+span.text:before {
    width:26px;
    height:26px;
    background-position:-26px -91px;
}

label.option input[type="checkbox"]:checked+span.text:before {
    background-position: 0 -91px;
}

.contentElement .multipleChoice .input .options {
    display:inline-block;
    border:transparent 1px solid;
}

.invalid .multipleChoice .input .options {
    border-color:#ff4200;
    background-color:#ffece6;
}

.invalid .multipleChoice .input .options span.text {
    color:#ff4200;
}

.valid .multipleChoice .input:after,
.invalid .multipleChoice .input:after {
    content: "";
    width:17px;
    height:17px;
    position:relative;
    margin-left:10px;
    background-repeat: no-repeat;
}

.valid .multipleChoice .input:after {    
    background-position: -306px -147px;
}

.invalid .multipleChoice .input:after {    
    background-position: -323px -147px;
}

/*
 * Identity Verification
 */

.identityVerification {
    margin-top:40px;
}

.identityVerification .persona {
    background-color: #f2fafa;
    padding: 15px;
    margin: 0 0 10px 0;
    height: 45px;
    line-height: 45px;
    color: #0093a0;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
    clear:both;
}

.identityVerification .persona iframe {
    width: 100%;
    height: 600px;
    margin-top: 20px;
    clear: both;
    display: block;
    float: left;
    border: #0093a0 1px solid;
}

/*
 * Buttons
 */

.buttons {
    margin-top:60px;
    height:80px;
    text-align:center;
}

.next,
.previous,
.save {
    cursor: pointer;
}

.next button,
.previous button,
.save button {
    text-shadow: none;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.5em;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 16px 30px;
    border:none;
    color: #ffffff;
    background-color: #33a9b3;
    background-image: -ms-linear-gradient(top, #33a9b3 0%, #0093a0 100%);
    background-image: -moz-linear-gradient(top, #33a9b3 0%, #0093a0 100%);
    background-image: -o-linear-gradient(top, #33a9b3 0%, #0093a0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33a9b3), color-stop(1, #0093a0));
    background-image: -webkit-linear-gradient(top, #33a9b3 0%, #0093a0 100%);
    background-image: linear-gradient(to bottom, #33a9b3 0%, #0093a0 100%);
}

.next {
    float:right;
    text-align: right;
}

.save button,
.next button {
    padding-right: 42px;
}

.previous {
    float:left;
    text-align:left;
 }

.previous button {
    padding-left:42px;
 }

.save:after,
.next:after,
.previous:before {
    content: "";
    display:inline-block;
    position:relative;
    background-repeat: no-repeat;
    width:30px;
    height:30px;
}

.next:after {
    background-position:-31px -54px;
    left:-40px;
    top:8px;
}

.previous:before {
    background-position:0px -54px;
    left:40px;
    top:8px;
}

.save:after {
    background-position: -124px -54px;
    top:12px;
    left:-40px;
}

.save button {
    padding:6px 42px 6px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    color: #666666;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 3px 0 #F4F4F4;
}

.save button span {
    display:block;
    text-align:left;
}

.save button .subtitle {
    font-size:0.6em;
}

/* Address content type */

.address .confirm:before {
    border-color: #666666 transparent;
    border-style: solid;
    border-width: 9px 8px 0;
    left: 4.8%;
    position: relative;
    top: 8px;
    width: 0;
    content: "";
}

.address .confirm {
    border: 1px solid #CCCCCC;
    margin: 20px 4%;
    width: 92%;
    background-color: #F4F4F4;
}

.address .confirm h4:before {
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 8px 7px 0;
    content: "";
    display: block;
    left: 4%;
    position: relative;
    top: -37px;
    width: 0;
}

.address .confirm h4,
.address .confirm p {
    margin: 20px 1%;
    width: 98%;
}

.address .confirm .clarify,
.address .confirm .parts {
    display:none;
}

.address .confirm .clarify .addressOptions {
    background: white;
    width: 60%;
    padding: 10px 0;
    height: 160px;
    overflow-y: scroll;
    list-style-type: none;
    overflow-x: hidden;
    border: #33a9b3 1px solid;
}

.address .confirm .clarify .addressOptions li {
    padding: 4px 10px;
    cursor:pointer;
}

.address .confirm .clarify .addressOptions li:hover {
    background-color:#0088cc;
    color:white;
}

.ui-autocomplete {
    z-index: 100;
}

/*
 * Responsive overrides
 */

@media (max-width: 719px) {
    .non-mobile {
        display:none;
        visibility:hidden;
    }

    #page {
      background: none;
    }

    #headerContainer {
        padding-top:20px;
    }

    #headerContainer .container {
        height:90px;
    }

    #headerContainer .container .header {
        height:70px;
    }

    .navbar ul {
        float:none;
    }

    .navbar ul li {
        float:none;
        padding:0;
    }

    .navbar ul li.active {
        width:100%;   
        text-align:center;     
    }

    .navbar ul li.inactive {
        display:none;
        visibility:hidden;        
    }

    .contentElement .input {
        margin-left:0;
        width:100%;
        clear:both;
    }

    .contentElement label.question {
        display:block;
        width:100%;
    }
}