/*
 * Responsive overrides
 */

@media (max-width: 719px) {
    .non-mobile {
        display:none;
        visibility:hidden;
    }

    #page {
        background: white;
    }

    #headerContainer {
        padding-top:20px;
        height:160px;
        background-image: none;
        background-color: white;
    }

    #headerContainer .container {
        height:90px;
        margin:0;
        border:none;
    }

    #headerContainer .container .header {
        height:70px;
    }

    #progressBar {
        margin:0;
        width:100%;
    }

    #progressBar ul {
        float:none;
        height:50px;
    }

    #progressBar ul li {
        float:none;
        padding:0;
        display:none;
        visibility:hidden;
        border:none;
    }

    #progressBar ul li.active {
        width:100%;
        display:block;
        visibility:visible;
        text-align:center;
    }

    #progressBar ul li.active a {
        background-image:none;
        background-position: -1000px -1000px;
    }

    #progressBar ul li.active a:after {
        content:none;
    }

    #progressBar ul li a .text {
        padding-top:15px;
    }

    #headerContainer .container .contact {
        display:none;
        visibility:hidden;
    }

    #formContainer {
        border:none;
        padding:0;
        margin:0;
    }

    #formContainer h2 {
        display:none;
        visibility:hidden;
    }

    .sectionBody .next {
        width:100%;
    }

    .sectionBody .next button {
        margin:0 2%;
        width:96%;
        height:40px;
    }

    .contentElement .input {
        margin-left:0;
        width:100%;
        clear:both;
    }

    .contentElement label.question {
        display:block;
        width:100%;
    }

    .input label.option input+img {
        display:none;
        visibility:hidden;
    }

    label.option input[type="checkbox"]+img+span.text:before,
    label.option input[type="radio"]+img+span.text:before {
        content:"";
        display:block;
        float:left;
        margin-right:5px;
    }

    label.option input[type="checkbox"]+img+span.text:before {
        width:26px;
        height:26px;
        background-position:-26px -91px;
    }

    label.option input[type="checkbox"]:checked+img+span.text:before {
        background-position: 0 -91px;
    }

    label.option input[type="radio"]+img+span.text:before {
        width:21px;
        height:21px;
        background-position:-21px -122px;
    }

    label.option input[type="radio"]:checked+img+span.text:before {
        background-position: 0 -122px;
    }

    .selectboxit-container {
        width:100% !important;        
    }

    .selectboxit-container .selectboxit {
        width:90% !important;
    }

    .contentElement .multi .horizontal .options {
        border: #33a9b3 1px solid;
    }

    .contentElement .single .horizontal .select {
        display:block;
        visibility:visible;
    }

    .contentElement .multipleChoice .horizontal label.option {  
        width:100%;
        height:30px;
        display:block;
    }

    .contentElement .multipleChoice .horizontal label.option .text {
        text-align:left;
    }

    #formContainer .buttons button span.text,
    #formContainer .buttons button span.subtitle {
        visibility:hidden;
        display:none;
    }

    #formContainer .buttons {
        width:90%;
        margin:0 5%;
    }

    #formContainer .buttons > span > button,
    #sectionBody .next > button {
        width:100%;
        height:40px;
    }

    #formContainer .buttons > span.previous > button:before,
    #formContainer .buttons > span.next > button:after {
        float: none;
        margin-top:5px;
    }

    #formContainer .buttons.single > span {
        width:100%;
    }

    #formContainer .buttons.double > span {
        width:48%;
    }

    #formContainer .buttons.triple > span {
        width:31%;
    }
}